.about {
   
    font-size: 1.5em;
    font-weight: 500;
} 
.btn {
    color: rgb(248, 98, 177);
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    font-size: 0.7em;
}
.padding {
    padding-left: 2em;
}

.about {
    background-color: rgb(234, 233, 230);
}
/* h1 span{
    color: rgb(248, 98, 177);
    font-size: 1.5em;
} */

.font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: rgb(248, 98, 177);
  }