#contact .btn {
    color: rgb(248, 98, 177);
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    font-size: 1em;
}

#contact .btn:hover {
    background-color: #f8f9fa;
}