
html, body {
  background-color: rgb(228, 228, 228);
  height: 100%
}
/* .App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
} */
.App {
  height: 100%;
}