
html, body {
  
  height: 100%;
  background-color: rgb(234, 233, 230);
}
/* .App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
} */
.App {
  height: 100%;
}